.content_main_center{
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;

}
.row_direction{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.column_direction{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color:#aaaaaa;
}