.content_main_center{
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;

}
.row_direction{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.column_direction{
    display: flex;
    flex-direction: column;
    color:#aaaaaa;
}
.setTitle_h1{
    display:flex;
  align-items:center;
  gap:10px;
  font-size:1.4rem;
  margin:0 0 6px 0;
  color:var(--primary);
}