.content_main_center{
<<<<<<< HEAD
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;

=======
    width: auto;
    height: auto;
    
    justify-content: center;
    align-items: center;
>>>>>>> ADMINTC
}
.row_direction{
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    align-items: center;
=======
    gap: 20px
>>>>>>> ADMINTC
}
.column_direction{
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    color:#aaaaaa;
}
.setTitle_h1{
    display:flex;
  align-items:center;
  gap:10px;
  font-size:1.4rem;
  margin:0 0 6px 0;
  color:var(--primary);
=======
    gap: 20px
>>>>>>> ADMINTC
}